h1{
    text-align:center;
    color:rgb(4, 185, 73);
    font-style:italic;
    font-weight:bold;
}
div{
    text-align:center;
}
body{
    background:linear-gradient(#EB5757,#000000);
}
div{
    font-size: 1.25em ;
    font-style:italic;
    font-weight:bold;
}
h2{
    color:rgb(4, 185, 73);
}
