h1{
    text-align:center;
    font-style:italic;
    color:rgb(220, 195, 13);
    background-image:url("image/amen khlifi.jpg");
    background-attachment: fixed;
    background-size:cover;
    background-position:center;
    padding: 150px;


}
h2{
    color:rgb(4, 185, 73);

}

body{
    background:linear-gradient(#EB5757,#000000);
}
div{
    font-style:italic;
    font-weight:bold;
    font-size:1.25em;

}
h3{
    color:rgb(4, 185, 73);
    font-size:2em

}
